body {
  margin: 0;
  font-family: Satoshi, sans-serif; /* Đặt font chữ mặc định */
  background-color: #1e1e1e;
  color: #fff;
  overflow-x: hidden;
}

/* Get in touch */

.wrapper-contact {
  padding-left: 25%;
  padding-right: 25%;
  margin-bottom: 10rem;
  margin-top: 2rem;
}

.contact-me {
  margin-top: 2rem;
}

.heading1 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  color: #c9fa49;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

a {
  text-decoration: none;
}

.heading2 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0.5rem 0;
  color: #99a4af;
  cursor: pointer;
  transition: color 0.3s ease;
}

.heading2:hover {
  text-decoration: underline;
  color: #fff;
}

.divider {
  height: 1px;
  background-color: #99a4af;
  width: 100%;
  margin: 2rem 0;
}

.social-media {
  margin-top: 1rem;
  display: flex;
  gap: 1.5rem;
}

.social {
  width: 3rem;
  height: auto;
  transition: transform 0.2s ease;
}

.social:hover {
  transform: scale(1.1);
}


/* --- Responsive breakpoints --- */

@media (max-width: 1440px) {
  .wrapper-contact {
    padding-left: 12.5rem;
    padding-right: 12.5rem;
  }

}

@media (max-width: 1024px) {
  .wrapper-contact {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media (max-width: 768px) {
  .wrapper-contact {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 480px) {
  .wrapper-contact {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .heading1 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: #c9fa49;
}

  .contact {
      display: flex;
      flex-direction: column; /* Sắp xếp theo chiều dọc */
      justify-content: space-between;
      align-items: start; /* Căn chỉnh theo chiều ngang */
      width: 100%;
      gap: 0.5rem;
      margin-top: 2rem;
    }

  .heading2{
    font-size: 1rem;
    }
}